<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Velin's Course Project</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="hasLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="adverts">Adverts</a>
        </li>

        <li class="nav-item" *ngIf="user.role === 'User'">
          <a class="nav-link" [routerLink]="['/users', user.id, 'applied']"
            >Applied Adverts</a
          >
        </li>
      </ng-container>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="login" *ngIf="!hasLoggedIn">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="register" *ngIf="!hasLoggedIn"
          >Register</a
        >
      </li>
      <ng-container *ngIf="hasLoggedIn">
        <a class="nav-link">
          <li class="nav-item">Welcome, {{ user.name }}</li></a
        >

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/users', 'edit', user.id]">
            <i class="fa fa-user-circle-o"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onLogout()">Logout</a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
