<table class="table table-bordered">
  <thead>
    <tr>
      <th>User name</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>
        {{ advert.approvedUser === user.id ? "Approved" : "Not approved" }}
      </td>
      <td *ngIf="!advert.approvedUser">
        <button class="btn btn-success" (click)="onApprove(user.id)">
          <i class="fa fa-check"> Approve</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
