﻿@model CarOwnership.ViewModels.Owners.IndexVM

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 style="text-align:center">Owners</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Details</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
        @foreach (Owner item in Model.Owners)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td><a class="btn btn-success" href="/Cars/Index?ownerId=@item.Id">Cars</a></td>
                <td><a class="btn btn-primary" href="/Owners/Edit?id=@item.Id">Edit</a></td>
                <td><a class="btn btn-primary" href="/Owners/Delete?id=@item.Id">Delete</a></td>
            </tr>
        }
</table>
<a class="btn btn-primary" href="/Owners/Edit">New</a>

