﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Car Catalog</h1>
    <p class="lead">My Project on Car Catalog</p>
    <p><a href="/Cars" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>    
</div>

