<div class="container">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <form #form="ngForm" (ngSubmit)="onSubmit()">
        <h2>Login Form</h2>
        <small *ngIf="errorMessage" class="text-danger">
          {{ errorMessage }}
        </small>
        <div class="form-group">
          <label for="exampleInputName">Email</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputName"
            name="email"
            required
            placeholder="Enter email"
            [(ngModel)]="email"
            #emailControl="ngModel"
          />
          <small
            *ngIf="
              emailControl.touched &&
              emailControl.invalid &&
              emailControl.errors.required
            "
            class="text-danger"
          >
            This field is required
          </small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Enter password"
            name="password"
            required
            [(ngModel)]="password"
            #passwordControl="ngModel"
          />
          <small
            *ngIf="
              passwordControl.touched &&
              passwordControl.invalid &&
              passwordControl.errors.required
            "
            class="text-danger"
          >
            This field is required
          </small>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
          Login
        </button>
      </form>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
