﻿@model UsersManager.ViewModels.Phones.EditVM

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<fieldset>
    <legend>Phones</legend>

    <form action="/Phones/Edit" method="post">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.ContactId)
        <table>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Number)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Number)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.Number, null, new { style = "color:red" })
                </td>
            </tr>           
            <tr>
                <td></td>
                <td>
                    <input style="float:right;" type="submit" value="Save" />
                    <a href="/Phones/Index?ParentContactId=@Model.ContactId">Back to list</a>
                </td>
                <td></td>
            </tr>
        </table>
    </form>
</fieldset>

