﻿@model UsersManager.ViewModels.Phones.IndexVM

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}


<fieldset>
    <legend>Contact</legend>

    Name: @Model.Contact.FirstName @Model.Contact.LastName <br/>
    Email: @Model.Contact.Email

</fieldset>

<a href="/Phones/Edit?contactId=@Model.Contact.Id">New</a>
<table>
    <tr>
        <td>Number</td>
        <td></td>
    </tr>
    @foreach (Phone item in Model.Items)
    {
        <tr>
            <td>@item.Number</td>
            <td>
                <a href="/Phones/Edit?contactId=@Model.Contact.Id&phoneId=@item.Id">edit</a>
                <a href="/Phones/Delete?id=@item.Id&contactId=@Model.Contact.Id">delete</a>
            </td>
        </tr>
    }
</table>

