﻿@model CarOwnership.ViewModels.CarBrands.EditVM

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<fieldset>
    <legend>CarBrands</legend>

    <form action="/CarBrands/Edit" method="post">
        @Html.HiddenFor(m => m.Id)
        <table>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Name)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Name)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.Name, null, new { style = "color:red" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Country)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Country)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.Country, null, new { style = "color:red" })
                </td>
            </tr>            
            <tr>
                <td></td>
                <td>
                    <input style="float:right;" type="submit" value="Save" />
                    <a href="/CarBrands/Index">Back to list</a>
                </td>
                <td></td>
            </tr>
        </table>
    </form>
</fieldset>
