﻿@model CarOwnership.ViewModels.CarBrands.IndexVM

@{   
    Layout = "~/Views/Shared/Layout.cshtml";
}
<h2 style="text-align:center">Brands</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
        @foreach (CarBrand item in Model.CarBrands)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Country</td>
                <td><a class="btn btn-primary" href="/CarBrands/Edit?id=@item.Id">Edit</a></td>
                <td><a class="btn btn-primary" href="/CarBrands/Delete?id=@item.Id">Delete</a></td>
            </tr>
        }
</table>
<a class="btn btn-primary" href="/CarBrands/Edit">New</a>

