<div class="container">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <form #form="ngForm" (ngSubmit)="onSubmit()">
        <h2>Advert Form</h2>
        <div class="form-group">
          <label for="exampleInputName">Title</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputName"
            aria-describedby="nameHelp"
            name="title"
            required
            placeholder="Enter title"
            [(ngModel)]="advert.title"
            #titleControl="ngModel"
          />
          <small
            *ngIf="
              titleControl.touched &&
              titleControl.invalid &&
              titleControl.errors.required
            "
            class="text-danger"
          >
            This field is required
          </small>
        </div>

        <div class="form-group">
          <label>Type</label>
          <select
            class="form-control"
            name="type"
            required
            [(ngModel)]="advert.type"
            #typeControl="ngModel"
          >
            <option *ngFor="let type of advertTypes">{{ type }}</option>
          </select>
          <small
            *ngIf="
              typeControl.touched &&
              typeControl.invalid &&
              typeControl.errors.required
            "
            class="text-danger"
          >
            This field is required
          </small>
        </div>
        <div class="form-group">
          <label>Category</label>
          <select
            class="form-control"
            name="category"
            required
            [(ngModel)]="advert.category"
            #categoryControl="ngModel"
          >
            <option *ngFor="let category of categories">{{ category }}</option>
          </select>
          <small
            *ngIf="
              categoryControl.touched &&
              categoryControl.invalid &&
              categoryControl.errors.required
            "
            class="text-danger"
          >
            This field is required
          </small>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Description</label>
          <textarea
            class="form-control"
            placeholder="Enter description"
            rows="3"
            required
            name="description"
            [(ngModel)]="advert.description"
            #descriptionControl="ngModel"
          ></textarea>

          <small
            *ngIf="
              descriptionControl.touched &&
              descriptionControl.invalid &&
              descriptionControl.errors.required
            "
            class="text-danger"
          >
            This field is required
          </small>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
          {{ advert.id ? "Update" : "Add" }}
        </button>
      </form>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
