﻿@model CarOwnership.ViewModels.Parts.DetailsVM
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 style="text-align:center">Part Details</h2>
<h5 style="text-align:center">@($"{Model.Part.Name}  {Model.Part.Producer}  {@Model.Part.CountryProduced}")</h5>

<h4 style="text-align:center">Cars Containing This Part</h4>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>FuelType</th>
            <th>Volume</th>
            <th>Power</th>
        </tr>
    </thead>
        @foreach (Car item in Model.Cars)
        {
            <tr>
                <td>@item.Brand.Name</td>
                <td>@item.Model</td>
                <td>@item.FuelType</td>
                <td>@item.FuelTankVolume l</td>
                <td>@item.Power</td>
            </tr>
        }
</table>
<a class="btn btn-primary" href="/Parts/Index">Back to all parts</a>