﻿@model CarOwnership.ViewModels.Parts.EditVM

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<fieldset>
    <legend>Parts</legend>

    <form action="/Parts/Edit" method="post">
        @Html.HiddenFor(m => m.Id)
        <table>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Name)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Name)                    
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.Name, null, new { style = "color:red" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Producer)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Producer)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.Producer, null, new { style = "color:red" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.CountryProduced)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.CountryProduced)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.CountryProduced, null, new { style = "color:red" })
                </td>
            </tr>
            <tr>
                <td>
                    Cars to contain this part:
                </td>
                <td>
                    @foreach (var item in (ViewBag.Cars as List<Car>))
                    {
                        <input type="checkbox" id="@($"car{item.Id}")" name="CarIds" value="@item.Id"  />
                        <label for="@($"car{item.Id}")">@($"{item.Brand.Name} {item.Model}")</label>
                        
                    }
                </td>   
                <td>
                    @Html.ValidationMessageFor(m => m.CarIds, null, new { style = "color:red" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input style="float:right;" type="submit" value="Save" />
                    <a href="/Parts/Index">Back to list</a>
                </td>
                <td></td>
            </tr>
        </table>
    </form>
</fieldset>
