﻿@model CarOwnership.ViewModels.Parts.IndexVM

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 style="text-align:center">Parts</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Producer</th>
            <th>Country Produced</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
        @foreach (Part item in Model.Parts)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Producer</td>
                <td>@item.CountryProduced</td>                
                <td><a class="btn btn-success" href="/Parts/Details?id=@item.Id">Details</a></td>
                <td><a class="btn btn-primary" href="/Parts/Edit?id=@item.Id" >Edit</a></td>
                <td><a class="btn btn-primary" href="/Parts/Delete?id=@item.Id">Delete</a></td>
            </tr>
        }
</table>
<a class="btn btn-primary" href="/Parts/Edit">New</a>