﻿@model CarOwnership.ViewModels.Cars.EditVM

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<fieldset>
    <legend>Cars</legend>

    <form action="/Cars/Edit" method="post">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.OwnerId)       
        <table>
            <tr>
                <td>
                    Brands :
                </td>
                <td>
                    @Html.DropDownListFor(m => m.CarBrandId, (ViewBag.Brands as List<CarBrand>).Select(m => 
                        new SelectListItem {
                            Value = m.Id.ToString(),
                            Text = m.Name,
                            Selected = m.Id == Model.CarBrandId
                        })) 
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.CarBrandId, null, new { style = "color:red" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Model)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Model)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.Model, null, new { style = "color:red" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Power)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Power)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.Power, null, new { style = "color:red" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.FuelTankVolume)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.FuelTankVolume)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.FuelTankVolume, null, new { style = "color:red" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.FuelType)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.FuelType)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.FuelType, null, new { style = "color:red" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input style="float:right;" type="submit" value="Save" />
                    <a href="/Cars/Index?ownerId=@Model.OwnerId">Back to list</a>
                </td>
                <td></td>
            </tr>
        </table>
    </form>
</fieldset>