﻿@model CarOwnership.ViewModels.Cars.IndexVM

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 style="text-align:center">Cars</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>FuelType</th>
            <th>Volume</th>
            <th>Power</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
        @foreach (Car item in Model.Cars)
        {
            <tr>
                <td>@item.Brand.Name</td>
                <td>@item.Model</td>
                <td>@item.FuelType</td>
                <td>@item.FuelTankVolume l</td>
                <td>@item.Power</td>
                <td><a class="btn btn-success" href="/Parts/Index?carid=@item.Id">Parts</a></td>
                <td><a class="btn btn-primary" href="/Cars/Edit?id=@item.Id&ownerId=@item.OwnerId">Edit</a></td>
                <td><a class="btn btn-primary" href="/Cars/Delete?id=@item.Id&ownerId=@item.OwnerId">Delete</a></td>
            </tr>
        }
</table>
<a class="btn btn-primary" href="/Cars/Edit?ownerId=@Model.OwnerId">New</a>
<a class="btn btn-primary" href="/Parts/Index">All Parts</a>