﻿@model CarOwnership.ViewModels.Home.LoginVM

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Login</h2>

<fieldset>    

    <form action="/Home/Login" method="post">       
        <table>            
            <tr>
                <td>
                    @Html.LabelFor(m => m.Username)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Username)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.Username, null, new { style = "color:red" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Password)
                </td>
                <td>
                    @Html.PasswordFor(m => m.Password)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.Password, null, new { style = "color:red" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input style="float:right;" type="submit" value="Login" />                   
                </td>
                <td></td>
            </tr>
        </table>
    </form>
</fieldset>

