<div class="row">
  <div class="col-md-3" *ngFor="let advert of adverts">
    <app-advert
      [advert]="advert"
      [loggedUser]="loggedUser"
      (advertDeleted)="onAdvertDelete($event)"
      (advertLiked)="onAdvertLike($event)"
      (advertApplied)="onAdvertApplying($event)"
    ></app-advert>
  </div>
</div>
<a
  class="btn primary btn-primary"
  routerLink="create"
  *ngIf="loggedUser.role === 'Organisation'"
>
  <i class="fa fa-check"> Create New</i>
</a>
