<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let advert of adverts">
      <td>{{ advert.title }}</td>
      <td>
        {{
          advert.approvedUser === loggedUser.id ? "Approved" : "Not approved"
        }}
      </td>
    </tr>
  </tbody>
</table>
