﻿@model CarOwnership.ViewModels.Users.IndexVM

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
<h2 style="text-align:center">Users</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Username</th>
            <th>Password</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
        @foreach (User item in Model.Users)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Username</td>
                <td>@item.Password</td>
                <td><a class="btn btn-primary" href="/Users/Edit?id=@item.Id">Edit</a></td>
                <td><a class="btn btn-primary" href="/Users/Delete?id=@item.Id">Delete</a></td>
            </tr>
        }        
</table>
<a class="btn btn-primary" href="/Users/Edit">New</a>


