<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">{{ advert.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      Category: {{ advert.category }}
    </h6>
    <h6 class="card-subtitle mb-2 text-muted">Type: {{ advert.type }}</h6>
    <h6 class="card-subtitle mb-2 text-muted">
      Number of likes: {{ advert.numberOfLikes }}
    </h6>
    <a
      class="card-text"
      [routerLink]="['/adverts', advert.id, 'users', 'applied']"
      *ngIf="loggedUser.role === 'Organisation'"
      >Applied users</a
    >
    <p class="card-text">Description: {{ advert.description }}</p>

    <ng-container *ngIf="advert.isActive">
      <button
        *ngIf="loggedUser.role === 'User'"
        class="btn btn-outline-primary btn-primary"
        [disabled]="
          loggedUser.likedAdverts &&
          loggedUser.likedAdverts.indexOf(advert.id) !== -1
        "
        (click)="advertLiked.emit(advert)"
      >
        <i class="fa fa-thumbs-up"></i>
      </button>

      <button
        class="btn primary btn-primary"
        *ngIf="loggedUser.role === 'User'"
        [disabled]="
          advert.appliedUsers &&
          advert.appliedUsers.indexOf(loggedUser.id) !== -1
        "
        (click)="advertApplied.emit(advert)"
      >
        <i class="fa fa-check"> Apply</i>
      </button>
    </ng-container>

    <ng-container
      *ngIf="
        loggedUser.role === 'Organisation' && advert.createdBy === loggedUser.id
      "
    >
      <a class="btn btn-warning" [routerLink]="['/adverts', 'edit', advert.id]">
        <i class="fa fa-exclamation-triangle"> Edit</i>
      </a>
      <button class="btn btn-danger" (click)="advertDeleted.emit(advert.id)">
        <i class="fa fa-trash"> Delete</i>
      </button>
    </ng-container>
  </div>
</div>
