﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Index</title> 

    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="d-flex" id="wrapper">        
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Car Ownership</div>
            <div class="list-group list-group-flush">
                @if (Session["loggedUser"] != null && ((User)Session["loggedUser"]).Username == "admin")
                {
                    <a href="/Users/Index" class="list-group-item list-group-item-action bg-light">Users</a>
                }
                <a href="/Owners/Index" class="list-group-item list-group-item-action bg-light">Owners</a>
                <a href="/CarBrands/Index" class="list-group-item list-group-item-action bg-light">Car Brands</a>
            </div>
        </div>       
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">     
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            @if (Session["loggedUser"] == null)
                            {
                                <a style="margin:0 10px;" href="/Home/Login">Login</a>
                            }
                            else
                            {
                                <span>Hello,</span>
                                <span style="font-weight:bold;">                                    
                                    @(((User)Session["loggedUser"]).FirstName)
                                </span>
                                <a style="margin:0 10px;" href="/Home/Logout">Logout</a>
                            }
                        </li>                        
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>       
    </div>    
    @Styles.Render("~/bundles/jquery")
    @Styles.Render("~/Scripts/bootstrap.js")  
</body>
</html>


