﻿@model UsersManager.ViewModels.Contacts.IndexVM

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<a href="/Contacts/Edit">New</a>
<table>
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email</td>
        <td></td>
    </tr>
    @foreach (Contact item in Model.Items)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Email</td>
            <td>
                <a href="/Phones/Index?ParentContactId=@item.Id">details</a>
                <a href="/Contacts/Edit?id=@item.Id">edit</a>
                <a href="/Contacts/Delete?id=@item.Id">delete</a>
            </td>
        </tr>
    }
</table>

