﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student Catalog</h1>
    <p class="lead">My Project on Student Catalog</p>
    <p><a href="/Students" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
