﻿@model MC.View.ViewModels.UserVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Login</h2>
<fieldset>
    <form action="/Home/Login" method="post">
        <table>
            <tr>
                <td>
                    @Html.LabelFor(m => m.username)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.username)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.username, null, new { style = "color:red" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.password)
                </td>
                <td>
                    @Html.PasswordFor(m => m.password)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.password, null, new { style = "color:red" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input style="float:right;" type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
        </table>
    </form>
</fieldset>
