<div class="container">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <h2>{{ user.id ? "Edit User" : "Registration" }}</h2>
      <small *ngIf="errorMessage" class="text-danger">
        {{ errorMessage }}
      </small>
      <form #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="exampleInputName">Name</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputName"
            aria-describedby="nameHelp"
            placeholder="Enter name"
            name="name"
            required
            [(ngModel)]="user.name"
            #nameControl="ngModel"
          />
          <small
            *ngIf="
              nameControl.touched &&
              nameControl.invalid &&
              nameControl.errors.required
            "
            class="text-danger"
          >
            This field is required
          </small>
        </div>
        <div class="form-group">
          <label for="exampleInputName">Email</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputName"
            name="email"
            required
            placeholder="Enter email"
            [disabled]="user.id"
            [(ngModel)]="user.email"
            #emailControl="ngModel"
          />
          <small
            *ngIf="
              emailControl.touched &&
              emailControl.invalid &&
              emailControl.errors.required
            "
            class="text-danger"
          >
            This field is required
          </small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Enter password"
            name="password"
            required
            [(ngModel)]="user.password"
            #passwordControl="ngModel"
          />
          <small
            *ngIf="
              passwordControl.touched &&
              passwordControl.invalid &&
              passwordControl.errors.required
            "
            class="text-danger"
          >
            This field is required
          </small>
        </div>

        <div class="form-group">
          <label>Role</label>
          <select
            class="form-control"
            name="type"
            required
            [(ngModel)]="user.role"
            #roleControl="ngModel"
            [disabled]="user.id"
          >
            <option *ngFor="let role of roles">{{ role }}</option>
          </select>
          <small
            *ngIf="
              roleControl.touched &&
              roleControl.invalid &&
              roleControl.errors.required
            "
            class="text-danger"
          >
            This field is required
          </small>
        </div>
        <div class="form-group">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="form.invalid"
          >
            {{ user.id ? "Update" : "Register" }}
          </button>
          <button
            class="btn btn-primary"
            *ngIf="user.id"
            (click)="onDeleteClick()"
          >
            Delete
          </button>
        </div>
      </form>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
